{% load i18n static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% translate "Digital Archive" %}</title>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-icons-1.13.1/bootstrap-icons.min.css' %}" rel="stylesheet">
    {% block additional_css %}{% endblock %}
    {% block js_head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'crawl_configuration_list' %}">
            <i class="bi bi-archive"></i> {% translate 'Digital Archive' %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% with request.resolver_match.url_name as url_name %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">{% translate 'Crawls' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'crawl_configuration_list' %}active" aria-current="page{% endif %}"
                           href="{% url 'crawl_configuration_list' %}">
                            {% translate 'Crawl Configurations' %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'browser_profile_list' %}active" aria-current="page{% endif %}"
                           href="{% url 'browser_profile_list' %}">
                            {% translate 'Browser Profiles' %}
                        </a>
                    </li>
                </ul>
            {% endwith %}
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
</body>
</html>